@import './variables.scss';

.main {
  padding-left: 16px;
  padding-right: 16px;
}

.form {
  padding: 0;
  max-width: 400px !important;
  & > li {
    display: flex;
    list-style: none;
  }
}

.mainList {
  padding-left: 0 !important;
  justify-content: center;

  @media screen and (max-width: $sm) {
    & {
      justify-content: flex-start;
      & > li {
        align-items: flex-start;
      }
    }
  }

  & > li {
    display: flex;
    list-style: none;
    padding: 0 !important;

    @media screen and (min-width: $sm) {
      & {
        align-items: center;
      }
    }

    @media screen and (min-width: $md) {
      & {
        height: calc(100vh - 64px);
      }
    }
  }
}

.formButton {
  padding-left: 32px !important;
  padding-right: 32px !important;
}

.card {
  @media screen and (max-width: $sm) {
    & {
      padding: 0;
      background-color: transparent !important;
      border-style: none !important;
      box-shadow: none !important;
    }
  }

  @media screen and (max-width: $md) {
    & {
      padding: 13px;
      max-width: 426px;
    }
  }

  @media screen and (min-width: $md) {
    & {
      padding: 13px;
      max-width: 426px;
    }
  }
}

.registerText {
  @media screen and (min-width: $md) {
    font-size: 18px !important;
    font-weight: bold !important;
  }
}